body {
	font-family: Roboto, sans-serif;
	color: #58595b;
	font-weight: 300;
	font-size: 16px;
	padding: 5px
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-weight: 200
}

.white {
	color: #FFFFFF;
}

.mg-b20 {
	margin-bottom: 20px;
}

.button {
	background-color: #008CBA;
	/* Blue */
	border: none;
	color: white;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 100px;
	bottom:0px;
}

.button:hover {
	background-color: #009CBA;
	/* Blue */
	border: none;
	color: white;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 100px;
}

.productTable {
	background-color:#EAEDEF;
	width: 100%;
}
.hideElement{
	display:none;
}
.disableButton{
	disabled:disabled;
}
div.header{
	/*z-index:999;*/   
	width: 100%;
	/*text-align: center;*/
	/*color: #134b8a;
	background: #FFF;*/
	top:0px;
	position: fixed;
	font-size: 18px;
	font-weight: Bold;
	background-color: #008CBA;
	position: fixed;
	/*padding: 15px 10px;*/
}

div.footer{
	z-index:999;   
	width: 100%;
	position: fixed;
	right: 15px;
	bottom:0px;
	padding-top:5px;
	text-align: right;
	background: #FFF;
	padding-bottom: 15px;
	padding-left: 45px;
	margin-left:20px;
	/*border-top: 1px solid black*/;
}